.container{
    background-color:  #5e17eb;
    width: 100%;
    position: fixed;
    z-index: 1;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container > div:first-child{
    margin-left: 60px;
}

.container>div:nth-child(1)>img{
    height: 60px;
    width: 60px;
}
.container>div:nth-child(2)>a{
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.container>div:nth-child(2){
    display: flex;
    column-gap: 30px;
    margin-left: 80px;
}
.container>div:last-child{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
}
.container>div:last-child>img{
    height: 1.4rem;
    width: auto;
    margin-right: 0.5rem;
}
.container>div:last-child{
    background-color: #cbc3e33f;
    border: 1px solid #cbc3e3c8;
    padding: 1vh 1.5vw 1.5vh 1.5vw;
    border-radius: 7px;
    transition: background-color 0.2s linear;
    display: flex;
    align-items: center;
}
.container>div:last-child:hover{
    background-color:rgba(119, 119, 119, 0.233);
    cursor: pointer;
}
.container>div:last-child>span>a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

@media (max-width: 420px) {
    .container>div:first-child{
        margin-left: 10px;
    }
    .container>div:nth-child(2){
        display: none;
    }
    .container>div:last-child{
        margin-right: 15px;
    }
    .container>div:last-child>img{
        width: 18px;
    }
    .container>div:last-child>span>a{
        font-size: small;
    }
    
}