.container{
    padding: 100px 0;
}
.container > div:nth-child(1){
    margin-top: -40px;
    display: flex;
    justify-content: center; 
    background-color: rgba(0, 0, 128, 0.882);
    padding: 30px 0;
}

.container > div:nth-child(1) > div:nth-child(1) > input{
    width: 400px;
    height: 35px;
}
.container > div:nth-child(1) > div:nth-child(1){
    border: 0.5px solid grey;  
    border-radius: 5px 0 0 5px;
}

.container > div:nth-child(1) > div:nth-child(2) > button{
    width: 40px;
    height: 100%;
}
.container > div:nth-child(1) > div:nth-child(2) > button > img{
    height: 20px;
    width: auto;
}

/* grid */

.container > div:nth-child(2){
    margin-top: 6em;
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 40px;
}

.container > div:nth-child(2) > div{
    box-shadow: 2px 4px 6px rgb(180, 180, 180);
}

.container > div:nth-child(2) > div:nth-child(1){
    grid-row: 1/ span 2;
}

.container > div:nth-child(2) > div:nth-child(4){
    grid-row: 1/ span 2;
    grid-column: 3 / 4;
}

.container > div:nth-child(2) > div > p{
  color: white;
  background-color:#333;
  font-size: 1.3rem;
  margin-top: 0;
  margin-bottom: 0;
}

