.container{
    padding: 100px 0;
}
.container > div:nth-child(1){
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -35px;
    position: relative;
}
.container > div:nth-child(1)>img{
    width: 100%;
    height: 300px;
}
.container > div:nth-child(1)>h1{
    position: absolute;
    top: 10px;
}
.container > div:nth-child(2){
    background-color: rgba(0, 0, 128, 0.882);
}

@media (max-width: 420px) {
    .container>div:nth-child(1){
        height: 150px;
    }
    .container>div:nth-child(1)>h1{
        font-size: medium;
    }
    .container>div:nth-child(2)>iframe{
        width: 320px;
        height: 450px;
    }
}
